body {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family:"Poppins", sans-serif ;
    background-image: url('./ondas.jpg');
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 90px;
    border-radius: 25px;
}

.cardbody {
    text-align: center;
    padding-top: 2px;
}
.texto {
    padding: 13px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
}

.senha {
    padding: 13px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
}
#botao {
    color: white;
    background-color: rgb(91, 91, 237);
    border: none;
    width: 205px;
    height: 48px;
    font-size: 14px;
    border-radius: 25px;
}

#botao:hover {
    background-color: rgb(121, 173, 205);
    cursor: pointer;
}

#esqueci {
    color: rgb(0, 0, 0, 80%);
    border: none;
    background-color: white;
}

#esqueci:hover {
    color: rgb(174, 174, 174);
    cursor: pointer;
}